html, body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: .93em;
    line-height: 1.4;
}

#container {
    margin-left: 30px;
    margin-right: 30px;
}

#top {
    background-color: #2F344A;
    vertical-align: middle;
    padding: 8px;
}

#menu {
    float: left;
    width: 280px;
    max-width: 280px;
    padding-left: 0;
    list-style: none;
}

#menu li {
    line-height: 2;
}

#menu a {
    font-weight: bold;
    text-decoration: none;
    color: #2F344A;
}

#menu a:hover {
    text-decoration: underline;
    color: #4F546A;
}

#content {
    margin-left: 280px;
}

#content ul li {
	margin-bottom: 6px;
}

#menu, #content h1:first-child {
    margin-top: 0;
    padding-top: 12px;
}

#menu ul {
    display: none;
}

#menu ul.active {
    display: block;
}

#menu ul a {
    font-weight: normal;
}

pre {
    white-space:pre-wrap;
    margin: 0;
    padding: 0;
}

.highlight {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 8px;
}

.inactive {
    color: #999;
}