/****************************************************************************
 * Global Definitions
 */

/**
 * Visibility Controls
 */

.not-basic,
.only-webkit,
.only-full {
    display: none;
}

/**
 * General Styles
 */

body, html {
    border: 0;
    margin: 0;
    padding: 0;
}

body { 
    background-color: #ddd;
    font: 100%/1.25 Arial, Helvetica, sans-serif;
    font-size: .93em; 
    line-height: 1.5;
}

html, 
body, 
address, 
blockquote, 
body, 
dd, 
div, 
dl, 
dt, 
fieldset, 
form, 
frame, 
frameset, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
ol, 
p, 
ul, 
center, 
dir, 
hr, 
menu, 
pre { 
    display: block; 
    padding: 0;
    margin: 0;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 { 
    line-height: 1.2em; 
}

h1, 
h2 { 
    font-size: 1.2em; 
    font-weight: bold; 
}

h3, 
h4 { 
    font-size: 1.1em; 
    font-weight: bold; }

h5 { 
    font-size: 1.1em; 
    font-weight: normal; 
}

h6 { 
    font-size: 1em; 
    font-weight: bold; 
}

a { 
    text-decoration: none; 
}

.center { 
    text-align: center !important; 
    margin-left: auto; 
    margin-right: auto; 
}

.align-left { 
    text-align: left !important; 
}

.align-right { 
    text-align: right !important; 
}

.clear { 
    width: 100%; 
    clear: both; 
    float: none !important; 
    height: 1px; 
}

.smallprint {
    font-weight: normal;
    font-size: 90%;
}

a, 
a:visited {
    color: #2685bb;
}

p a {
    border-bottom: none;
}

input {
    border: 1px solid #cccccc;
    padding: 4px;
}

.hide {
    display: none !important;
}

/********************************************************
 * HEADER
 *******************************************************/

/**
 * Header
 */

#header {
    background: #536895 url(img/header-bg.png) repeat-x;
    height: 35px;
    border-bottom: 3px solid #869ac5;
}

#header img {
    border: none;
    float: left;
}

#header span {
    float: left;
    padding: 8px 0 0 5px;
    font-weight: normal;
    font-size: 16px;
}

#header span, #header span a {
    color: #fff;
}

/**
 * Footer
 */

#footer {
	font-size: 80%;
	padding: 1em;
	text-align: center;
}

#footer,
#footer a,
#footer a:visited,
#footer a:hover {
	color: #666666;
}

#footer a,
#footer a:visited {
	text-decoration: none;
	border-bottom: 1px solid #666666;
}

#footer a:hover {
	border-bottom: none;
}

/****************************************************************************
 * Page Elements
 */
 
/**
 * Shared [TODO: Merge styles where possible]
 */

 .content img, .menu img, .button img {
    max-width: 100%;
    height: auto;
 }

/**
 * Content
 */

.content {
    width: 100%;
    margin: 0;
}

.content > p {
    margin: 0;
}

.content > h1 {
    background-color: #e9e9e9;
    color: #000;
}

.content > h1,
.content > h4 {
    padding: .5em 0 .4em;
    text-align: center;
}

.content > h1.light {
    background-color: #f9f9f9;
    color: #555;
}

.content > h1.blue {
    background-color: #809FE2;
    color: #fff;
}

.content > * {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: .8em;
}

.content > * ol {
    margin: 0 1.5em;
    position: relative;
}

.content > * p {
    margin-bottom: .5em;
}

.content .button a {
    color: #2685BB;
    font-weight: bold;
}

.content .button a .label {
    color: #777;
    font-weight: bold;
}

/**
 * Menu
 */

.menu {
    width: 100%;
    font-size: 1.1em;
    font-weight: bold;
}
 
.menu > h1 {
    background: #efefef;
    color: #000;
    padding: .5em 0 .4em 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.menu li p {
    font-weight: normal;
}

.menu > h1.light {
    background-color: #f6f6f6;
    color: #555;
}

.menu > h1.blue {
    background-color: #809FE2;
    color: #fff;
}

.menu p {
    color: #000;
}

.menu ol {
    list-style-type: none;
}

.menu li {
    background-color: #FFF;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.menu li a {
    display: block;
    background:url(img/list-arrow.png) no-repeat 95% center;
}

.menu li a:hover,
.menu li a:focus,
.menu li a:active {
    background-color: #eaf2fa;
}

.menu li a,
.menu.detailed.center li a {
    padding: .9em 2em .8em 2em;
}

.menu li a h4 {
    color: #1e6a95;
}
.menu li a:hover h4,
.menu li a:focus h4,
.menu li a:active h4 {
    color: #494D69;
}

.menu li > p:first-child:last-child {
    padding: .9em; /* singular paragraph text within li */
}

.menu.detailed p {
    color: #555;
}

.menu.left li,
.menu.detailed li {
    text-align: left;
}

.menu.left li a {
    padding-left: .9em;
}

.menu.center li {
    text-align: center;
}

.menu.right li {
    text-align: right;
}

.menu.right li a,
.menu.right.detailed li a {
    padding-right: 4em;
}

.menu.detailed li {
    font-size: 1em;
}

.menu.detailed li > a, 
.menu.detailed li > p
{
    padding: .9em 2em .8em .9em;
}

.menu .button a {
    color: #2685BB;
}

/**
 * Button
 */

a.button, div.button {
    width: auto;
    margin: 0;
}

a.button, div.button a{
    border-bottom: 1px solid #aaa;
    padding: .5em 0 .4em 0;
    background-color: #536895;
    color: #fff;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

a.button:hover,
a.button:focus,
a.button:active,
div.button a:hover,
div.button a:focus,
div.button a:active{
    background-color: #ffb300;
    color: #494D69;
}

/**
 * Forms
 */
form {
    background-color: #fff;
    padding-bottom: 1em;
    padding-right: 20px;
}

/*
 * Forms Heading
 */
form > h1,
form > h4 {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

form > h1 {
    background: #efefef;
    color: #000;
    padding: 0.5em 10px;
}

form > h1.light {
    background-color: #f6f6f6;
    color: #555;
}

form > h1.blue {
    background-color: #809FE2;
    color: #fff;
}

form > h4 {
    padding: 10px;
    width: 100%;
}

form > fieldset {
    border: 0;
}

form > a.button,
form > button,
form > input,
form > label,
form > select,
form > textarea {
    margin-left: 10px;
}

/*
 * Forms Basic Elements
 */
form label {
    display: inline-block;
    margin-top: 1em;
}

form input,
form select,
form textarea {
    border: 1px solid #CCC;
    font-size: .9em;
}

form input,
form textarea {
    padding: 4px 0;
}

form textarea {
    font: 100%/1.25 Arial, Helvetica, sans-serif;
    height: 4em;
}

form p {
    margin-bottom: .5em;
}

/*
 * Forms Buttons
 */
form a.button {
    text-align: center;
}

form input[type="submit"],
form input[type="reset"],
form button,
form a.button {
    background-color: #e4e7ee;
    border: 0;
    color: #000;
    cursor: pointer;
    font: 100%/1.25 Arial, Helvetica, sans-serif;
    margin-top: 10px;
    padding: .5em 0;
    height: auto;
}

form input[type="submit"],
form input[type="reset"],
form button {
    padding: .5em 1em;
}

form input[type="submit"]:disabled,
form input[type="reset"]:disabled,
form button:disabled,
form a.button.disabled {
    color: #888;
    cursor: default;
}

form input[type="submit"]:hover:disabled,
form input[type="reset"]:hover:disabled,
form button:hover:disabled,
form a.button:hover.disabled,
form input[type="submit"]:focus:disabled,
form input[type="reset"]:focus:disabled,
form button:focus:disabled,
form a.button:focus.disabled {
    background-color: #e4e7ee;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover,
form button:hover,
form a.button:hover,
form input[type="submit"]:focus,
form input[type="reset"]:focus,
form button:focus,
form a.button:focus {
    background-color: #cfd5e1;
}

form input[type="submit"].primary,
form input[type="reset"].primary,
form button.primary,
form a.button.primary,
form input[type="submit"].primary:hover:disabled,
form input[type="reset"].primary:hover:disabled,
form button.primary:hover:disabled,
form a.button.primary:hover.disabled,
form input[type="submit"].primary:focus:disabled,
form input[type="reset"].primary:focus:disabled,
form button.primary:focus:disabled,
form a.button.primary:focus.disabled {
    background-color: #fbaf3f;
}

form input[type="submit"].primary:hover,
form input[type="reset"].primary:hover,
form button.primary:hover,
form a.button.primary:hover,
form input[type="submit"].primary:focus,
form input[type="reset"].primary:focus,
form button.primary:focus,
form a.button.primary:focus {
    background-color: #ffb300;
}

form input[type="submit"].secondary,
form input[type="reset"].secondary,
form button.secondary,
form a.button.secondary,
form input[type="submit"].secondary:hover:disabled,
form input[type="reset"].secondary:hover:disabled,
form button.secondary:hover:disabled,
form a.button.secondary:hover.disabled,
form input[type="submit"].secondary:focus:disabled,
form input[type="reset"].secondary:focus:disabled,
form button.secondary:focus:disabled,
form a.button.secondary:focus.disabled {
    background-color: #9caccf;
}

form input[type="submit"].secondary:hover,
form input[type="reset"].secondary:hover,
form button.secondary:hover,
form a.button.secondary:hover,
form input[type="submit"].secondary:focus,
form input[type="reset"].secondary:focus,
form button.secondary:focus,
form a.button.secondary:focus {
    background-color: #869ac5;
}

/* full width form - default */
form div,
form h1,
form p,
form a.button,
form fieldset,
form input,
form select,
form textarea {
    display: block;
    width: 100%;
}

/* short width form */
form.short input {
    display: inline;
    width: auto;
}

form .last {
    border-bottom: none;
}

form .option br {
    display: block;
    margin: .25em 0;
}

form input[type="checkbox"],
form input[type="radio"],
form .option > label, 
form label.option {
    display: inline;
    width: auto;
}

form > div,
form > fieldset,
form > p {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

/* form option alignment */
form .option {
    padding: 0 0 0 10px;
    margin-bottom: 0;
    border-bottom: none;
}

form .option.right {
    text-align: right;
}

form .option.justify input[type="checkbox"],
form .option.justify input[type="radio"]{
    float: right;
}

/* required label */
form label.required {
    background: transparent url('img/astrisk.png') no-repeat top right;
    padding-right: 10px;
}

/* invalid */
form .invalid {
    color: #a00;
}

form p.invalid {
    background: transparent url('img/invalid.png') no-repeat 12px 4px;
    border-bottom: none;
    padding: 0 0 0 30px;
    margin-bottom: 0;
    width: auto;
}

form input.invalid,
form select.invalid,
form textarea.invalid {
    border: 1px solid #a00;
}

/* form date selection */
form .date-field,
form .month-field,
form .week-field,
form .datetime-field,
form .datetime-local-field,
form .time-field {
    border-bottom: none;
    padding: 0 0 0 10px;
    margin-bottom: 0;
}

form .date-field select,
form .month-field select,
form .week-field select,
form .datetime-field select,
form .datetime-local-field select,
form .time-field select {
    display: inline;
    width: auto;
}

/* placeholder */
form .placeholder {
    display: none;
}

/* tooltip */
form .tip {
    display: block;
    float: right;
    overflow: hidden;
    text-indent: -999em;
}

form .tiptext {
    display: block;
    margin: 0 10px;
    color: #999;
    font-style: italic;
}

/* ------------------------------------------------------
 * multi level form
*/
.content form {
    padding-left: 0;
}

.content form {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 20px;
}

.content > div > form > div,
.content > div > form > fieldset,
.content > div > form > p {
    border-bottom: none;
    padding: 0;
}

.content > div > form > fieldset{
    padding-bottom: .5em;
}

.content > div > form{
    padding-right: 0;
}

.content > div > form > a.button,
.content > div > form > button,
.content > div > form > input,
.content > div > form > label,
.content > div > form > select,
.content > div > form > textarea{
    margin-left: 0;
}


/**
 * Messages
 */

div.message {
    display: block;
    padding: .5em 0 .5em 1em;
    text-align: left;
}

div.message.alert {
    border: 1px solid #fa3;
    background-color: #ffe;
}

div.message.confirm {
    border: 1px solid #6a3;
    background-color: #efe;
}

div.message.error {
    border: 1px solid #a30;
    background-color: #fee;
}

div.message.info {
    border: 1px solid #6ac;
    background-color: #eff;
}

.message.alert {
    color: #630;
}

.message.confirm {
    color: #360;
}

.message.error {
    color: #a00;
}

.message.info {
    color: #039;
}

/****************************************************************************
 * Special Styles
 */

/**
 * Preview Mode
 */

#desktop-preview-menu {
    padding: 3px 10px;
    background-color: #fff;
    border-bottom: 1px solid #000;
}

#desktop-preview-menu h1 {
    color: #000000;
    font-size: 12px;
    padding: 0;
    margin: 0;
    padding-top: 1px;
    float: left;
}

#desktop-preview-menu div.options {
    font-size: 12px;
    float: right;
}

/**
 * Front Page
 */

body.front h1#header {
    background: #536895 url(img/header-front-page-bg.png) repeat-x;
    height: 50px;
}
body.front h1#header img {
    float: none;
}
body.front h1#header span {
    display: none;
}

/**
 * Breadcrumbs
 */

#breadcrumbs {
    padding: 5px 0;
    margin-left: 15px;
    font-size: .9em;
    font-weight: bold;
}

#breadcrumbs a {
    text-decoration: none;
    color: #2685bb;
}