/* Filename: default-touch.css
 *
 */

.not-basic,
.not-webkit,
.not-full {
	display: block;
}

.basic-only,
.only-basic,
.only-webkit
.only-full {
    display: none;
}

#header {
}

/* default-touch-main
 *
 * Description:
 *
 *   -Global
 *   -Header
 *   -Headings
 *   -Menus
 *   -Lists
 *   -Buttons
 *   -Content
 *
 *
 */

/********************************************************
 * MENUS
 *******************************************************/

/*-------------------------------------------------
  General
  ------------------------------------------------*/

.menu-padded {
    margin: 10px 10px 0 10px;
    border: 1px solid #d0d0d0;
    width: auto;
}

.menu-padded a:last-child li,
.menu-padded > *:last-child,
.menu-padded .menu-last {
    border-bottom: none !important;
}

/********************************************************
 * LISTS
 *******************************************************/


/********************************************************
 * BUTTONS
 *******************************************************/

a#button-top {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    /* box model attributes -- should be a total together of 35 px height */
    height: 16px !important;
    line-height: 16px;
    margin: 4px 10px 7px 0;
	padding: 4px 8px 4px 8px;
    max-width: 85px;
    /* decoration */
    border: 1px solid #bbb;
    font-size: 12px !important;
    -webkit-box-shadow: none;
    background-color: #788ebe;
    color: #fff;
    font-weight: bold;
}

a#button-top:hover,
a#button-top:active,
a#button-top:focus{
    background-color: #576c9c !important;
    color: #fff;
}

div.button-full.button-padded{
    margin-top: 10px;
}

div.button-full.button-padded {
    margin-left: 10px;
    margin-right: 10px;
}

a.button-full.button-padded {
    margin: 10px 10px 0 10px;
}

div.button-full {
    display: block;
    position: relative !important;
    height: 2.8em;
    width: auto;
    overflow: hidden;
}

div.button-full.button-padded, a.button-full.button-padded {
    border: 1px solid #d0d0d0;
}

div.button-full a,
div.button-full a.button-light {
    position: absolute;
    width: auto;
    border-left: 1px solid #aaa !important;
    overflow: hidden;
    white-space:  nowrap;
    padding: .5em 0 .4em 0;
}

div.button-full a:first-child {
    border-left: 0 !important;
    right: 50%;
    width: 50%;
}

div.button-full a.button-first {
    border-left: 0 !important;
    right: 50%;
    width: 50%;
}

div.button-full a:last-child {
    left: 50%;
    width: 50%;
}

div.button-full a.button-last {
    left: 50%;
    width: 50%;
}

div.button-full a:first-child:last-child
{
    width: 100%;
    left: 0;
    right: 0;
}

div.button-full .button-last
{
    width: 100%;
    left: 0;
    right: 0;
}

div.button-full.button-padded a:first-child {
    left: 0;
    width: auto;
}

div.button-full.button-padded a.button-first {
    left: 0;
    width: auto;
}

div.button-full.button-padded a:last-child {
    right: 0;
    width: auto;
}

div.button-full.button-padded a.button-last {
    right: 0;
    width: auto;
}

a.button-full,
div.button-full a {
	border: none;
}

a.button-full:hover,
a.button-full:focus,
a.button-full:active,
div.button-full a:hover,
div.button-full a:focus,
div.button-full a:active,
a.button-full.button-light:hover,
a.button-full.button-light:focus,
a.button-full.button-light:active,
div.button-full a.button-light:hover,
div.button-full a.button-light:focus,
div.button-full a.button-light:active {
	background-color: #ffb300 !important;
	color: #494D69;
}

a.button-full.button-light,
div.button-full a.button-light,
div.button-full.button-light a {
	background-color: #f6f6f6;
	color: #555;
}

.button-next {
	padding: 10px 0px 10px 65px;
	background:url(img/button-next.png) no-repeat center;
}

.button-previous {
	padding: 10px 0px 10px 65px;
	background:url(img/button-previous.png) no-repeat center;
}

.button-next span,
.button-previous span {
    display: none;
}

.tour-buttons {
    padding: 12px 10px 15px 10px;
}

#search-button {
        background: url(img/button-search.png) no-repeat;
        width: 60px;
        height: 25px;
        border: 0;
        padding: 0;
        margin: 0;
        text-indent:-9999px;
}
#go-button {
        background: url(img/button-go.png) no-repeat;
        width: 30px;
        height: 25px;
		border: 0;
        padding: 0;
        margin: 0;
        text-indent:-9999px;
}
/********************************************************
 * FORM
 *******************************************************/

form.form-padded {
    margin: 10px 10px 0 10px;
    width: auto;
}

form.form-padded {
	-moz-border-radius-topleft: .5em;
	-moz-border-radius-topright: .5em;
	-moz-border-radius-bottomleft: .5em;
	-moz-border-radius-bottomright: .5em;
}

form.form-full > input,
form.form-full > textarea,
form.form-full > select {
    box-shadow:inset 0 0 3px #bbb;
    -moz-box-shadow:inset 0 0 3px #bbb;
}

form.form-full > input[type=submit],
form.form-full > input[type=reset] {
    box-shadow:none;
    -moz-box-shadow:none;
}

/********************************************************
 * CONTENT
 *******************************************************/

/*-------------------------------------------------
  General
  ------------------------------------------------*/

.content-padded > * {
}

.content-padded {
    width: auto;
    margin: 10px 10px 0 10px;
    border: 1px solid #d0d0d0;
}

.content-padded > *:last-child {
    border-bottom: none !important;
}

.content-padded .content-last {
    border-bottom: none !important;
}

.content-elements h1.light, .content-full h1.light {
     border: 1px #dddddd;
     border-style: solid none none none;
}

/* default-touch-frontpage
 *
 * Description: Controls the stylings for m.ucla.edu
 *
 *   -Global
 *   -Header
 *   -Menus
 *   -Footer
 *
 *
 */

/********************************************************
 * MENUS
 *******************************************************/

.front-page .menu-front li a{
    padding: 1.2em;
}


