/****************************************************************************
 * Global Definitions
 */

/**
 * Visibility Controls
 */

.not-basic,
.not-webkit,
.not-full {
	display: block;
}

.basic-only,
.only-basic,
.only-webkit
.only-full {
    display: none;
}


/****************************************************************************
 * Page Elements
 */
 
/**
 * Shared [TODO: Merge styles where possible]
 */
 
/**
 * Content
 */

.content.padded {
    width: auto;
    margin: 10px 10px 0 10px;
    border: 1px solid #d0d0d0;
}

.content.padded > *:last-child {
    border-bottom: none !important;
}

.content h1.light {
     border: 1px #dddddd;
     border-style: solid none none none;
}

/**
 * Menu
 */

.menu.padded {
    margin: 10px 10px 0 10px;
    border: 1px solid #d0d0d0;
    width: auto;
}

.menu.padded a:last-child li,
.menu.padded > *:last-child {
    border-bottom: none !important;
}

/* The rel=external stuff is not solely for menus, but primarily. 
   Use span.external:after around a link with class no-ext-ind to keep indicator
      from being styled like the link.  This is useful if links are underlined,
      for example, and also in .menu.detailed (see comment for no-ext-ind).
*/
a[rel~=external]:after, span.external:after {	
    content: "\a0 " url(img/external-link.png);
}

/* Allow suppression of external link indicator via class "no-ext-ind". 
   This is useful for .menu.detailed where a span.external inside an 
   a[rel=external] can show where the indicator should end up.  This keeps the
   indicator from floating off to the right away from the relevant text. This is
   desirable, rather than just not using rel=external, because rel=external 
   will determine how the link is handled in the native client and possibly in
   screen readers.
*/
a[rel=external].no-ext-ind:after {	
    content: "";
}

/**
 * Button
 */

.button {
    display: block;
    position: relative !important;
    height: 2.8em;
    width: auto;
    overflow: hidden;
}

.button.padded{
    margin: 10px 10px 0 10px;
}

.button.padded, a.button.padded {
    border: 1px solid #d0d0d0;
}

.button a,
.button a.light {
    position: absolute;
    width: auto;
    border-left: 1px solid #aaa !important;
    overflow: hidden;
    white-space:  nowrap;
    padding: .5em 0 .4em 0;
}

.button a:first-child {
    border-left: 0 !important;
    right: 50%;
    width: 50%;
}

.button a:last-child {
    left: 50%;
    width: 50%;
}

.button a:first-child:last-child
{
    width: 100%;
    left: 0;
    right: 0;
}

.button.padded a:first-child {
    left: 0;
    width: auto;
}

.button.padded a:last-child {
    right: 0;
    width: auto;
}

a.button,
.button a {
	border: none;
}

.mwf_notmobile a.button:hover,
a.button:focus,
a.button:active,
.mwf_notmobile .button a:hover,
.button a:focus,
.button a:active,
.mwf_notmobile a.button.light:hover,
a.button.light:focus,
a.button.light:active,
.mwf_notmobile .button a.light:hover,
.button a.light:focus,
.button a.light:active {
	background-color: #ffb300 !important;
	color: #494D69;
}

a.button.light,
.button a.light,
.button.light a {
	background-color: #f6f6f6;
	color: #555;
}

.button.next,
.button .next {
	padding: 10px 0px 10px 65px;
	background:url(img/button-next.png) no-repeat center;
}

.button.previous,
.button .previous {
	padding: 10px 0px 10px 65px;
	background:url(img/button-previous.png) no-repeat center;
}

.button.next span,
.button.previous span,
.button .next span,
.button .previous span {
    display: none;
}

/**
 * Button (Top)
 */

#button-top {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    /* box model attributes -- should be a total together of 35 px height */
    height: 16px !important;
    line-height: 16px;
    margin: 4px 10px 7px 0;
	padding: 4px 8px 4px 8px;
    max-width: 85px;
    /* decoration */
    border: 1px solid #bbb;
    font-size: 12px !important;
    -webkit-box-shadow: none;
    background-color: #788ebe;
    color: #fff;
    font-weight: bold;
}

#button-top:hover,
#button-top:active,
#button-top:focus{
    background-color: #576c9c !important;
    color: #fff;
}

/**
 * Forms
 */

form {
    margin: 0;
}

form.padded {
    margin: 10px 10px 0 10px;
}

.content form {
    margin: 0;
}

/**
 * Messages
 */

div.message {
    background-position: 99% 50%;
    background-repeat: no-repeat;
    margin: 0;
    padding-right: 32px;
}

div.message.padded {
    margin-top: .6em;
    margin-left: 10px;
    margin-right: 10px;
}

div.message.alert {
    background-image: url("img/message-alert.png");
}

div.message.confirm {
    background-image: url("img/message-confirm.png");
}

div.message.error {
    background-image: url("img/message-error.png");
}

div.message.info {
    background-image: url("img/message-info.png");
}

.content div.message,
.menu div.message,
.form div.message {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}

.content div.message:last-child,
.menu div.message:last-child,
.form div.message:last-child {
    margin-bottom: 0;
}


/****************************************************************************
 * Page Descriptors
 */

/**
 * Button (Special)
 */

#search-button {
        background: url(img/button-search.png) no-repeat;
        width: 60px;
        height: 25px;
        border: 0;
        padding: 0;
        margin: 0;
        text-indent:-9999px;
}

#go-button {
        background: url(img/button-go.png) no-repeat;
        width: 30px;
        height: 25px;
		border: 0;
        padding: 0;
        margin: 0;
        text-indent:-9999px;
}

/****************************************************************************
 * Special Styles
 */

/**
 * Front Page
 */

body.front .menu.front li a{
    padding: 1.2em;
}
